{% extends "base.html" %}

{% block content %}
  <h2> 我的支出紀錄 </h2>
  <table >
    <tr>
      <td>時間</td>
      <td>項目</td>
      <td>類別</td>
      <td>金額</td>
      <td>功能</td>
    </tr>
    {% for expense in expense_list %}
    <tr>
      <td>({{expense.time| date:"l"}}){{expense.time}}</td>
      <td><a href="{% url 'expense_update' expense.id %}">{{expense.item}}</a></td>
      <td>{{expense.get_category_display}}</td>
      <td>{{expense.amount}}</td>
      <td><a href="{% url 'expense_delete' expense.id %}" class="btn btn-sm btn-danger py-0 px-1"><i class="fas fa-trash-alt"></i> 刪除</a></td>
    </tr>
    {% endfor %}
  </table>
  {% include "pagination.html" %}
{% endblock content %}