{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary"><i class="fas fa-chevron-circle-left"></i>上一頁</a>
  {% endif %}
  {% for page in page_numbers %}
    {% if page %}
      {% ifequal page page_obj.number %}
        <button class="btn btn-sm btn-primary" disabled>{{ page }}</button>
      {% else %}
        <a href="?page={{ page }}" class="btn btn-sm btn-primary">{{ page }}</a>
      {% endifequal %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary">下一頁<i class="fas fa-chevron-circle-right"></i></a>
  {% endif %}
{% endif %}